---
layout: default
---
<article class="page-content" aria-labelledby="page-heading">
  <div class="container container-prose">
    <header class="page-header">
      <h1 id="page-heading">{{ page.title }}</h1>
      {% if page.description %}
      <p class="page-description">{{ page.description }}</p>
      {% endif %}
    </header>
    <hr class="page-header-rule" aria-hidden="true">
    {{ content }}
    {% unless page.url == '/take-action/' %}
    {% include cta-box.html heading="Take Action" text="Ready to make a difference? Join Arkansans calling for pension transparency." url="/take-action/" button="Get Involved" %}
    {% endunless %}
  </div>
</article>
